<%= form_with(model: discussion, local: true) do |form| %>
  <% if discussion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(discussion.errors.count, "error") %> prohibited this discussion from being saved:</h2>

      <ul>
      <% discussion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Título: " %>
     <%= form.text_field :headline %>
  </div>

  <div class="field">
    <%= form.label "Conteúdo: " %>
     <p class="emoji-picker-container">
      <%= form.text_area :content, cols: "30", rows: "10", data: { emojiable: true } %>
     </p>
  </div>
  
   <div class="field">
    <%= form.label "Imagem: " %>
      <%= form.text_field :url_image%>
   </div>

  <div class="actions">
    <%= form.submit "Salvar", class: "waves-effect waves-light btn" %>
  </div>
<% end %>
